extends layout.pug

block content 
    .container 
        h1 Jean Dupont 
        p Bienvenue sur mon portfolio 
        p contactez moi à l'adresse email suivante :
        output#generate-email 

block scripts 
    script.
            (function preventSpam() {
            const b64encodedEmail = 'amVhbi5kdXBvbnRAZ21haWwuY29t';
            document.getElementById('generate-email').textContent = atob(b64encodedEmail);
            })();