html
  head
    meta(charset="UTF-8")
    title Utilisateurs
    link(rel="stylesheet", href="/css/style.css")
  body
    h1(class="title") Utilisateurs
    
    ul(class="list container")
      each student, index in students
        li 
            | #{student.name} Né le : #{formatDate(student.birth)} 
            a(href=`/delete/${index}`) [X]
    h2
        a(href="/") Revenir à l'accueil